<article>
    <section class="header">
        $date$
        <h1>$title$</h1>
        $if(description)$
            <p>$description$</p>
        $endif$
    </section>
    <section class="body">
        $if(banner)$
            <img class="banner" src="../images/$banner$"
              $if(banner-width)$
              $if(banner-height)$
              width="$banner-width$" height="$banner-height$"
              $endif$
              $endif$ />
        $endif$
        $body$
    </section>
</article>

<footer>
    <a href="/">&larr; Index</a>
</footer>
